{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <link rel="stylesheet" href="../static/router/main.css">

      <style>
          .intro {
              width: 100%;
              height: 100vh;
              position: absolute;

          }
      </style>

      <title>🔰Nikitly</title>
  </head>
<body style="margin: 0">

<div class="intro" id="intro"></div>
<script src="../static/JS/three.min.js"></script>
<script src="../static/JS/vanta.birds.min.js"></script>
<script src="../static/JS/app.js"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">🔰Nikitly</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav ">
                <li class="nav-item {% if request.path == List %} active {% endif %}">
                    <a class="nav-link" href="{% url 'how-to' %}">How to</a>
                </li>
<!--                <li class="nav-item {% if request.path == List %} active {% endif %}">-->
<!--                    <a class="nav-link" href="{% url 'url-list' %}">Url list</a>-->
<!--                </li>-->
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <br>
    <center>
<!--         style="color: #00ff80-->
        <div class="col-md-5">
            {% if messages %}
                {% for message in messages %}
                   <div class="alert alert-{{ message.tags }}">
                      {{ message }}
                   </div>
                {% endfor %}
            {% endif %}
            <div style="background-color:rgba(0,0,0,.9); border-radius: 40px;">
                {% block content %}{% endblock %}
            </div>
        </div>
    </center>
</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>