{% extends 'base.html' %}
{% block content %}
    <div class="content-section" style="color: white">
        <h2 class="border-bottom">Как использовать сокращение URL-адресов</h2>
        <ul class="content-section">
            <br/>
            <li>Добавьте любой URL, который нужно сократить в поле <strong>Original url</strong>, а затем добавьте любую комбинацию символов в поле<strong>Key</strong>.</li>
        </ul>
    </div>
{% endblock content %}